@charset "utf-8";
* {
	margin: 0;
}

html, body {
	height: 100%;
	/*background-size: 100% 1020px;*/
	min-height: 100% !important;
	min-height: auto;
	border: none;
	overflow:hidden;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
}

body {
	background:url(../_img/kkb.png) no-repeat left bottom, url(../_img/second_background.jpg) no-repeat center top #002a5a;
	font-family:Arial, Helvetica;
	font-size:13pt;
	padding:80px;
	box-sizing: border-box;
	color:#555;
}

.logo {
	background:url(../_img/logo.png) no-repeat top;
	height:100px;
	display:block;
	bottom:40px;
	position:absolute;
	width:100%;
	margin-left:-80px;
}

a {
	color:#369;
}

img {
	border-width: 0px;	
}

.clear {
	clear:both;
}

ul  {
	padding-left:20px;
	list-style:square;
	margin:10px 0;
}
h1, h2, h3, h4 {
	cursor:default;
}
h4 {
	background-color:#f7f7f7;
	padding:2px 5px ;
	margin-bottom:10px;
}

button {
	color:#8a8989;
	text-shadow:1px 1px 1px white,-1px 0 1px #444;
	border:none;
	border-radius:36px;
	font:bold 36px "Myriad Pro";
	letter-spacing:-1px;
	cursor:pointer;
	min-width:220px;
	text-transform:uppercase;
	padding:20px 40px;
	box-shadow:0px 0px 12px rgba(0,0,0,0.3);
	border-radius:35px;
	background:-webkit-gradient(linear, left bottom, left top, from(#b8b8b8),to(#fefefe));
	/*	background:-webkit-gradient(linear, left bottom, left top, from(rgba(50,50,50,0.3)),to(rgba(255,255,255,0.1))),url(../_img/bg_pat1.png);*/
}
button:active, button.active {
	text-shadow:none;
	background-image:-webkit-gradient(linear, left bottom, left top, from(#2e6226),to(#44df7e));
	color:#d2ffdd;
}

button:disabled {
	text-shadow:1px 1px 1px white, -1px -1px 1px #999 !important;
	background-image:-webkit-gradient(linear, left bottom, left top, from(#b8b8b8),to(#fefefe)) !important;
	color:#dcdcdc;
}

input[type=text] {
	color:#ccc;
	outline:none;
	border:none;
	border-radius:36px;
	font:normal 50px "Myriad Pro";
	letter-spacing:-1px;
	cursor:pointer;
	width:100%;
	text-transform:uppercase;
	padding:10px 30px;
	box-sizing: border-box;
	display:block;
	box-shadow:0px 0px 12px rgba(0,0,0,0.7);
	border-radius:35px;
	background-color:#000;
	background-image:-webkit-gradient(linear, left bottom, left top, from(rgba(50,50,50,0.5)),to(rgba(0,0,0,0.8)));
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: ease;
}

input[type=text]::-webkit-input-placeholder {
   color: #4ba25b;
   font-size:45px;
}

input[type=text].typing {
	background-color:#fff;
}


ul {
	padding:0;
	margin:0;
}

header {
	margin:0 auto; 
	margin-top:-80px;
	margin-bottom:40px;
	/*background:-webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.1)),to(rgba(255,255,255,1))), url(../_img/bg_pat1.png);*/
	box-shadow:1px 1px 15px rgba(50,50,50,0.5);
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.3)),to(rgba(0,0,0,0.3)));
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	display:block;
	padding:8px 15px 10px 15px;
	width:100px;
	text-align:center;
	color:#E9DFD0;
	font-weight:bold;
	cursor:pointer

}

scene {
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.1)),to(rgba(242,242,242,1))), url(../_img/bg_pat1.png) #f2f2f2;
	border-radius:20px;
	box-shadow:1px 1px 15px rgba(50,50,50,0.5);
	padding:20px 80px 75px 80px;
	margin:0 auto; 
	height:630px; 
	width:600px;
	display:block;
	overflow:hidden;
	position:relative;
	text-align:center;
}

h1 {
	font-size:36px;
	letter-spacing:-1pt;
	margin:20px 0 20px 0;
	color:#113;
}

h2 {
	font-size:25px;
	font-weight:normal;
}

h1 .subh1 {
	letter-spacing:0pt;
	font-size:18px;
	color:#828282;
	display:block;
	font-weight:normal;
	margin-top:-5px;
}


footer {
	color:#5a73a0;
	padding:10px;
	font-size:10px;
	text-align:center;

}

.menu {
	margin-bottom:20px !important;
}
.menu.buttons {
	width:100%;
}
.menu button {
	display:inline-block;
	width:100%;
	margin-bottom:5px;
}
.menu.iconic button {
	text-align:left;
	padding-left:100px !important;
}
.menu.iconic button img {
	margin-left:-70px;
}

button img {
	position:absolute;
	margin-top:-10px;
}




.buttons {
	background-image:-webkit-gradient(linear, left top, left bottom, from(#b8b8b8),to(#fff));
	background-color:#f2f2f2;
	background-clip:padding-box;
	padding:8px;
	border-radius:40px;
	display:inline-block;
}
.buttons.group button:first-child {
	border-top-left-radius:36px;
	border-bottom-left-radius:36px;
	padding-right:30px;
}
.buttons.group button:last-child {
	border-top-right-radius:36px;
	border-bottom-right-radius:36px;
	margin-bottom:0px;
	padding-left:30px;
}
.buttons.menu.group button:first-child {
	border-radius:6px;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
}
.buttons.menu.group button:last-child {
	border-radius:6px;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
	margin-bottom:0px;
}
.buttons.group button {
	border-radius:6px;
}


/****************/
.numpad row {
	display:block;
}

.numpad row button {
	width:32%;
	display:inline-block;
	min-width:40px !important;
	padding:10px 10px !important;
	box-shadow:0px 0px 10px rgba(0,0,0,0.3);
	font:bold 46px Arial;
	margin-right:-2px;
}

.numpad row  button:first-child {
	border-top-left-radius:36px;
	border-bottom-left-radius:36px;
}
.numpad row  button:last-child {
	border-top-right-radius:36px;
	border-bottom-right-radius:36px;
	margin-right:0px;
}
.numpad row button {
	border-radius:10px;
}
.numpad row:last-child button {
	margin-bottom:0px;
}

/******************/
.callcenter1414 {
	background:url(../_img/icon_callcenter.png) no-repeat 5px 5px #fff;
	height:123px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	box-shadow:1px 1px 15px rgba(50,50,50,0.5);
	margin-top:40px;
}

.queue {
	height:250px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	box-shadow:1px 1px 15px rgba(50,50,50,0.5);
	margin-top:40px;
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.3)),to(rgba(0,0,0,0.3)));
}


.weaccept {
	background:url(../_img/icon_weaccept.png) no-repeat 20px 5px #f2f2f2;
	height:123px;
	border-radius:20px;
	box-shadow:1px 1px 10px rgba(50,50,50,0.5);
	width:320px;
	margin-top:20px;
	display:inline-block;
}
